

html{
    scroll-behavior: smooth;
}




/*------------Landing Section ---------------*/
.landing-section{
    background: white url(/home/sai/Downloads/Photos/vivoy81.jpg) no-repeat scroll center;
    height: 100vh;
    background-size: cover;
}
.landing-wrapper{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
}
.form-mobile{
    width: 350px;
    height:38px;
}   
/*-----------------Activies Section------------------*/
.bg-light-light{
    background-color: lightgrey;
}
.swetha{
    box-shadow: 0 5px 10px black;
    border: 5px solid orangered;
    transition: all 0.5s;
    width: 500px;
    height: 350px;
}
.swetha:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
/*-----------Happy customers Section---*/
.swathi{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/*----------------------Sub Section-----*/
.sub-page{
    background: white url(https://media.istockphoto.com/photos/long-wave-on-the-coast-dawn-on-the-sea-tunisia-picture-id1173935107?b=1&k=20&m=1173935107&s=170667a&w=0&h=JkyPsbVUkRTuLlNgiS63HEqbMJTRPgE8jiGsNRfWlyU=) no-repeat scroll center;
    background-size: cover;
    height: 170px;
    color: white;
}
.sub-wrapper{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
  

}
